body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ffffff;
  background-color: #ff9224;
  border-color: #ff9224;
  border-style: solid;
  padding: 15px 30px;
  margin: 30px 10px;
  border-radius: 8px;
}

.red {
  border-radius: 20%;
  padding: 10px;
  background-color: red;
}

.green {
  border-radius: 20%;
  padding: 10px;
  background-color: green;
}

.blue {
  border-radius: 20%;
  padding: 10px;
  background-color: blue;
}

input {
  margin: 30px;
  width: 300px;
}